{% extends "base.html" %}
{% load static %}
{% block content %}
        <!-- breadcrumbs -->
    <div class="container">
      <div class="breadcrumbs">
        <a href="{% url 'home'  %}"><i class="las la-home"></i></a>
        <a href="#" class="active">My Account</a>
      </div>
    </div>
     <div class="my_account_wrap section_padding_b">
      <div class="container">
        <div class="row">
          <!--  account sidebar  -->
          <div class="col-lg-3">
            <div class="account_sidebar">
              <div class="account_profile position-relative shadow_sm">
                <div class="acprof_img">
                  <a href="account.html">
                    <img
                        loading="lazy"
                        src="{% static 'assets/images/avatar-2.png' %}"
                        alt="user"
                    />
                  </a>
                </div>
                <div class="acprof_cont">
                  <p>Hello,</p>
                  <h4>Russell Ahmed</h4>
                </div>
                <div class="profile_hambarg d-lg-none d-block">
                  <i class="las la-bars"></i>
                </div>
              </div>
              <div class="acprof_wrap shadow_sm">
                <div class="acprof_links">
                  <a href="account.html" class="active">
                    <h4 class="acprof_link_title">
                      <i class="lar la-id-card"></i>
                      Manage My Account
                    </h4>
                  </a>
                  <a href="account-profile-info.html">Profile Information</a>
                  <a href="account-manage-address.html">Manage Address</a>
                  <a href="account-change-password.html">Change Password</a>
                </div>
                <div class="acprof_links">
                  <a href="account-order-history.html">
                    <h4 class="acprof_link_title">
                      <i class="las la-gift"></i>
                      My Order History
                    </h4>
                  </a>
                  <a href="account-return-order.html">My Returns</a>
                  <a href="account-order-cancel.html">My Cancellations</a>
                  <a href="account-my-reviews.html">My Reviews</a>
                </div>
                <div class="acprof_links">
                  <a href="account-payment-methods.html">
                    <h4 class="acprof_link_title">
                      <i class="las la-credit-card"></i>
                      Payments Methods
                    </h4>
                  </a>
                  <a href="account-voucher.html">Voucher</a>
                </div>
                <div class="acprof_links">
                  <a href="{% url 'wishlist_list'  %}">
                    <h4 class="ac_link_title">
                      <i class="lar la-heart"></i>
                      My Wishlist
                    </h4>
                  </a>
                </div>
                <div class="acprof_links border-0">
                  <a  href="{% url 'logout' %}">
                    <h4 class="acprof_link_title">
                      <i class="las la-power-off"></i>
                      Log Out
                    </h4>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!-- account content -->
          <div class="col-lg-9">
            <div class="account_cont_wrap">
              <div class="profile_info_wrap">
                <div class="row">
                  <div class="col-lg-4">
                    <div class="single_prof_info shadow_sm">
                      <div class="prof_info_title">
                        <h4>Personal Profile</h4>
                        <a href="account-profile-info.html">Edit</a>
                      </div>
                      <div class="prfo_info_cont">
                        <p class="text-semibold">Russell Ahmed</p>
                        <p>example@mail.com</p>
                        <p>(123) 456-789</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="single_prof_info shadow_sm">
                      <div class="prof_info_title">
                        <h4>Shipping Address</h4>
                        <a href="account-manage-address.html">Edit</a>
                      </div>
                      <div class="prfo_info_cont">
                        <p class="text-semibold">Ralph Bohner</p>
                        <p>3891 Ranchview Dr.</p>
                        <p>Richardson, Califora</p>
                        <p>(123) 456-789</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="single_prof_info shadow_sm mb-0">
                      <div class="prof_info_title">
                        <h4>Billing Address</h4>
                        <a href="account-manage-address.html">Edit</a>
                      </div>
                      <div class="prfo_info_cont">
                        <p class="text-semibold">Ralph Bohner</p>
                        <p>3891 Ranchview Dr.</p>
                        <p>Richardson, Califora</p>
                        <p>(123) 456-789</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="prof_recent_order shadow_sm">
                <h4>Recent Orders</h4>
                <div class="single_prof_recorder">
                  <div class="prorder_img">
                    <img
                        loading="lazy"
                        src="{% static 'assets/images/tv.png' %}"
                        alt="product"
                    />
                    <img
                        loading="lazy"
                        src="{% static 'assets/images/tv.png' %}"
                        alt="product"
                    />

                  </div>
                  <div class="prorder_btn">
                    <a href="account-order-details.html">View Order</a>
                  </div>
                  <div class="prorder_txt prorder_odnumber">
                    <h5>Order Number</h5>
                    <p>23E34RT3</p>
                  </div>
                  <div class="prorder_txt prorder_purchased">
                    <h5>Purchased</h5>
                    <p>01 March 2021</p>
                  </div>
                  <div class="prorder_txt prorder_qnty d-none d-sm-block">
                    <h5>Quantity</h5>
                    <p>x3</p>
                  </div>
                  <div class="prorder_txt prorder_total">
                    <h5>Total</h5>
                    <p>$120</p>
                  </div>
                  <div class="prorder_txt prorder_status">
                    <h5 class="d-none d-md-block">Status</h5>
                    <h5 class="d-block d-md-none">
                      <span
                        class="me-2 d-inline-block d-sm-none font-normal text_xs"
                        >x3</span
                      >
                      $120
                    </h5>
                    <p class="text-color">Cancelled</p>
                  </div>
                </div>
                <div class="single_prof_recorder">
                  <div class="prorder_img">
                    <img
                        loading="lazy"
                        src="{% static 'assets/images/laptop-1.png' %}"
                        alt="product"
                    />
                    </div>
                  <div class="prorder_btn">
                    <a href="account-order-details.html">View Order</a>
                  </div>
                  <div class="prorder_txt prorder_odnumber">
                    <h5>Order Number</h5>
                    <p>23E34RT3</p>
                  </div>
                  <div class="prorder_txt prorder_purchased">
                    <h5>Purchased</h5>
                    <p>01 March 2021</p>
                  </div>
                  <div class="prorder_txt prorder_qnty d-none d-sm-block">
                    <h5>Quantity</h5>
                    <p>x3</p>
                  </div>
                  <div class="prorder_txt prorder_total">
                    <h5>Total</h5>
                    <p>$120</p>
                  </div>
                  <div class="prorder_txt prorder_status">
                    <h5 class="d-none d-md-block">Status</h5>
                    <h5 class="d-block d-md-none">
                      <span
                        class="me-2 d-inline-block d-sm-none font-normal text_xs"
                        >x3</span
                      >
                      $120
                    </h5>
                    <p class="text-green">Delivered</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}