{% extends "base.html" %}
{% load static %}
{% block content %}
        <!-- breadcrumbs -->
    <div class="container">
      <div class="breadcrumbs">
        <a href="{% url 'home'  %}"><i class="las la-home"></i></a>
        <a href="#" class="active">My Account</a>
      </div>
    </div>
     <div class="my_account_wrap section_padding_b">
      <div class="container">
        <div class="row">
          <!--  account sidebar  -->
          <div class="col-lg-3">
            <div class="account_sidebar">
              <div class="account_profile position-relative shadow_sm">
                <div class="acprof_img">
                  <a href="account.html">
                    <img
                        loading="lazy"
                        src="{{user.img.url}}"
                        alt="user"
                    />
                  </a>
                </div>
                <div class="acprof_cont">
                  <p>Hello,</p>
                  <h4>{{user.name}}</h4>
                </div>
                <div class="profile_hambarg d-lg-none d-block">
                  <i class="las la-bars"></i>
                </div>
              </div>
              <div class="acprof_wrap shadow_sm">
                <div class="acprof_links">
                  <a href="account.html" class="active">
                    <h4 class="acprof_link_title">
                      <i class="lar la-id-card"></i>
                      Manage My Account
                    </h4>
                  </a>
                  <a href="{% url 'usre_info' %}">Profile Information</a>
                  <a href="{% url 'change_password' %}">Change Password</a>
                </div>
                <div class="acprof_links">
                  <a href="account-order-history.html">
                    <h4 class="acprof_link_title">
                      <i class="las la-gift"></i>
                      My Order History
                    </h4>
                  </a>
                </div>
               
                <div class="acprof_links">
                  <a href="{% url 'wishlist_list'  %}">
                    <h4 class="ac_link_title">
                      <i class="lar la-heart"></i>
                      My Wishlist
                    </h4>
                  </a>
                </div>
                <div class="acprof_links border-0">
                  <a  href="{% url 'logout' %}">
                    <h4 class="acprof_link_title">
                      <i class="las la-power-off"></i>
                      Log Out
                    </h4>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!-- account content -->
          <div class="col-lg-9">
            <div class="account_cont_wrap">
              <div class="prof_recent_order shadow_sm">
                <h4>Recent Orders</h4>
                {% for order in user_orders %}
                  <div class="single_prof_recorder">
                    <div class="prorder_img">
                      {% for cart_item in order.cart_items.all %}
                        <img
                            loading="lazy"
                            src="{{ cart_item.product.Image.url}}"
                            alt="product"
                        />
                      {% endfor %}

                    </div>
                    <div class="prorder_btn">
                      <a href="{% url 'order_detail' order.id %}">View Order</a>
                    </div>
                    <div class="prorder_txt prorder_odnumber">
                      <h5>Order Number</h5>
                      <p>{{ order.pk }}</p>
                    </div>
                    <div class="prorder_txt prorder_total">
                      <h5>Total</h5>
                      <p>{{ order.total_price }}</p>
                    </div>
                    <div class="prorder_txt prorder_status">
                      <h5 class="d-none d-md-block">Status</h5>
                      <h5 class="d-block d-md-none">
                        {{ order.total_price }}
                      </h5>
                      <p class="text-color">{{ order.get_status_display }}</p>
                    </div>
                  </div>
                {% endfor %}


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}