{% extends 'base.html' %}
{% block content %}
    <div class="container">
      <div class="breadcrumbs">
        <a href="{% url 'home' %}"><i class="las la-home"></i></a>
        <a href="#">Shop</a>
        <a href="#" class="active">Checkout</a>
      </div>
    </div>
     <div class="cart_area section_padding_b">
      <div class="container">
        <div class="row">
          <div class="col-xl-8 col-lg-7 col-md-6">
            <h4 class="shop_cart_title mb-4 ps-3">Billing details</h4>

            <div class="billing_form">
          

              <form method="post">
                  {% csrf_token %}
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="single_billing_inp">
                        <label for="first_name">Name <span>*</span></label>
                        <input type="text" name="name"  />
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="single_billing_inp">
                        <label for="street_addr"
                          > Address <span>*</span></label
                        >
                        <input name="address" type="text"  />
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="single_billing_inp">
                        <label for="phone_number"
                          >Phone Number <span>*</span></label
                        >
                        <input name="phone" type="text"  />
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="single_billing_inp">
                        <label for="email_addr">Email Address <span>*</span></label>
                        <input  name="email" type="text"/>
                      </div>
                    </div>
                  </div>
                

                 


                
                </div>


                </div>
                <div class="col-xl-4 col-lg-5 col-md-6">
                  <h4 class="shop_cart_title ps-3">Your order</h4>
                  <div class="checkout_order mt-4">
                    <h4>product</h4>

                    {% for item in cart_items %}

                    <div class="single_check_order">
                      <div class="checkorder_cont">
                        <h5>{{ item.product.Name }}</h5>
                      </div>
                        <p class="checkorder_qnty">x {{ item.quantity }}</p>
                      <p class="checkorder_price">EG{{ item.product.Price }}</p>
                    </div>
                    {% endfor %}

                  
                    <div class="single_check_order subs">
                      <div class="checkorder_cont subtotal-h">
                        <h5>Subtotal</h5>
                      </div>
                      <p class="checkorder_price">{{ total_price }}</p>
                    </div>
                    <div class="single_check_order subs">
                      <div class="checkorder_cont subtotal-h">
                        <h5>Shipping</h5>
                      </div>
                      <p class="checkorder_price">Free</p>
                    </div>
                    <div class="single_check_order total">
                      <div class="checkorder_cont">
                        <h5>Total</h5>
                      </div>
                      <p class="checkorder_price">{{ total_price }}</p>
                    </div>
                    <div class="checkorder_agree custom_check check_2">
                      <input
                      type="checkbox"
                      class="check_inp"
                      hidden
                      id="save-default"
                      />
                      <label for="save-default"
                      >Agree to our
                      <a href="#" class="text-color">terms & conditions</a></label
                      >
                    </div>
                    <div class="checkorder_btn">
                      <button type="submit" class="default_btn rounded w-100">place order</button>
                    </div>
              </form>

              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
{% endblock content %}