{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
 <div class="container">
        <div class="breadcrumbs">
            <a href="#"><i class="las la-home"></i></a>
            <a href="#">Shop</a>
            <a href="#" class="active">{{pro.Name}}</a>
        </div>
    </div>

     <div class="product_view_wrap section_padding_b">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="product_view_slider">
                        <div class="single_viewslider">
                           <img loading="lazy" src="{{pro.Image.url}}" alt="product">

                        </div>
                    </div>
                 
                </div>
                <div class="col-lg-6">
                    <div class="product_info_wrapper">
                        <div class="product_base_info">
                            <h1>{{pro.Name}}</h1>
                            <div class="rating">
                                <div class="d-flex align-items-center">
                                    <div class="rating_star">
                                        <span><i class="las la-star"></i></span>
                                        <span><i class="las la-star"></i></span>
                                        <span><i class="las la-star"></i></span>
                                        <span><i class="las la-star"></i></span>
                                        <span><i class="las la-star"></i></span>
                                    </div>
                                    <p class="rating_count">50 Reviews</p>
                                </div>
                            </div>
                            <div class="product_other_info">
                                <p><span>Availability:</span><span class="text-green">In Stock</span></p>
                                <p><span>Brand:</span>{{pro.Brand}}</p>
                                <p><span>Category:</span>{{pro.Category}}</p>
                                <p><span>Color</span> {{ color_name }}</p>
                            </div>
                            <div class="price mt-3 mb-3 d-flex align-items-center">
                                <span class="org_price ms-2">EG  {{pro.Price}}</span>
                                <div class="disc_tag ms-3">-30%</div>
                            </div>
                            <div class="pd_dtails">
                                <p>
                                    {{pro.Description}}
                                </p>
                            </div>
                            <div class="shop_filter border-bottom-0 pb-0">
                                <div class="size_selector mb-3">
                                    <h5>Size</h5>
                                    <div class="d-flex align-items-center">
                                        <div class="single_size_opt">
                                            <input type="radio" hidden name="size" class="size_inp" id="size-xs">
                                            <label for="size-xs">XS</label>
                                        </div>
                                        <div class="single_size_opt ms-2">
                                            <input type="radio" hidden name="size" class="size_inp" id="size-s">
                                            <label for="size-s">S</label>
                                        </div>
                                        <div class="single_size_opt ms-2">
                                            <input type="radio" hidden name="size" class="size_inp" id="size-m" checked>
                                            <label for="size-m">M</label>
                                        </div>
                                        <div class="single_size_opt ms-2">
                                            <input type="radio" hidden name="size" class="size_inp" id="size-l">
                                            <label for="size-l">L</label>
                                        </div>
                                        <div class="single_size_opt ms-2">
                                            <input type="radio" hidden name="size" class="size_inp" id="size-xl">
                                            <label for="size-xl">XL</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cart_qnty ms-md-auto">
                                <p>Quantity</p>
                                <div class="d-flex align-items-center">
                                    <div class="cart_qnty_btn">
                                        <i class="las la-minus"></i>
                                    </div>
                                    <div class="cart_count">1</div>
                                    <div class="cart_qnty_btn">
                                        <i class="las la-plus"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product_buttons">
                            <a href="{% url 'add_to_cart' pro.id %}" class="default_btn small rounded me-sm-3 me-2 px-4"><i class="icon-cart me-2"></i> Add to Cart</a>
                            
                        </div>
                        <div class="share_icons footer_icon d-flex">
                            <a href="#"><i class="lab la-facebook-f"></i></a>
                            <a href="#"><i class="lab la-twitter"></i></a>
                            <a href="#"><i class="lab la-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product_view_tabs mt-4">
                
                <div class="pv_tab_buttons" class="spec_text">
                    <div class="pbt_single_btn activ" data-target=".review">Review ({{pro.review_product.all |length}})</div>
                </div>
                
            {% for review in reviews %}
                <div class="pb_tab_content review">
                    <div class="review_cont_wrap">
                        <div class="single_review_wrp">
                            <div class="review_avatar">
                                <img loading="lazy"  src="{{review.user.img.url}}" alt="user">
                            </div>
                            <div class="review_content">
                                <h5>by {{review.user.name}}</h5>
                                <div class="review_date">{{review.date}}</div>
                                <div class="review_body">
                                    <p>{{review.content}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
              
            {% endfor %} 
            </div>
        

            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit">Submit Review</button>
                {% endbuttons %}
            </form>
        
        </div>
    </div>
{% endblock content %}